.rectangle {
    width: 12cm;
    height: 6cm;
    border: 3px solid black;
    background-color: lightgray;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    padding-top: 20px;
}

.rectangle h4,

.rectangle input {
    display: inline-block;
    vertical-align: middle;
    margin: 10px;

}